<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
>

    <!--spring 配置连接池，数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/agriculture_forum?useSSL=true&amp;UseUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="shi123ba"/>
    </bean>
    <!--配置Mybatis sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" init-method="afterPropertiesSet">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.agriculture.model.dto"/>
        <property name="mapperLocations" value="classpath:mapper/*Mapper.xml"/>
        <!--MyBatis通过解析这些XML文件，将其中定义的SQL语句与对应的Mapper接口方法绑定。-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>

    </bean>
    <!--扫面自定义的Mapper接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.agriculture.mapper"/>
    </bean>
</beans>
